/* =========================
   NAVBAR
========================= */

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 18px 0;
  background: rgba(255,255,255,0.72);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255,255,255,0.35);
  box-shadow:
    0 8px 30px rgba(0,0,0,0.04);
}

.navbar-container{
  width: 90%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* LOGO */

.logo{
  display: flex;
  align-items: center;
  margin-left: 40px;

}

.logo img{
  height: 72px;
  width: auto;

  filter:
    drop-shadow(0 2px 8px rgba(0, 0, 0, 0.74));

  transition: .25s ease;
}

.logo img:hover{
  transform: scale(1.04);
}

/* LINKS */

.nav-links{
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-links a{
  position: relative;
  font-size: .98rem;
  font-weight: 500;
  color: #2a2a2a;
  transition:
    color .25s ease,
    transform .25s ease;
}

.nav-links a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background: var(--primary);
  transition: width .25s ease;
}

.nav-links a:hover{
  color: var(--primary);
}

.nav-links a:hover::after{
  width: 100%;
}

/* BOTON */

.nav-btn{
  background: linear-gradient(135deg, #565555, #0bd1ea);
  color: rgb(255 255 255);
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 700;
  box-shadow:
    0 10px 24px rgba(0, 0, 0, 0.253);
  transition:
    transform .25s ease,
    box-shadow .25s ease;
  text-decoration: none;
}

.nav-btn:hover{
  transform: translateY(-2px);
  box-shadow:
    0 16px 34px rgba(0,0,0,0.14);
}

/* =========================
   TABLET
========================= */

@media (max-width: 992px){
  .navbar-container{
    gap: 20px;
  }
  .nav-links{
    gap: 24px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px){

  .navbar{
    position: sticky;
    padding: 16px 0;
  }

  .navbar-container{
    width: 92%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .logo{
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }

  .logo img{
    height: 68px;
  }

  .nav-links{
    width: 100%;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
    overflow: visible;
  }

  .nav-links a{
    font-size: .9rem;
    white-space: nowrap;
  }

  .nav-btn{
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 11px 28px;
    font-size: .9rem;
  }
}

/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 420px){

  .navbar-container{
    gap: 12px;
  }

  .logo img{
    height: 62px;
  }

  .nav-links{
    gap: 18px;
  }

  .nav-links a{
    font-size: .86rem;
  }

  .nav-btn{
    max-width: 340px;
  }
}